%h1 Home page
= form_for(:cloud, url: clouds_path) do |f|

  = f.text_field :twitter_handle
  = f.submit "Generate Cloud", class: 'btn btn-large btn-primary'

%div.hidden
  =@hash      
%div#example{ :style => "width: 300px; height: 300px;" }