%div.center.hero-unit
  %h1
    TwiBubble
  %div#error_explanation
  
  = form_for(:cloud, url: clouds_path) do |f|
    %div.field
      = f.text_field :twitter_handle, :placeholder => "Enter twitter handle..."
    %div.field
      Tweets:
      = f.text_field :tweets_count
      
    %div.field
      %div#slider-range-min
    %div.field
    = f.submit "Generate Cloud", class: 'btn btn-large btn-primary'
